<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"><head> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"><head> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"><head> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"><head> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"><head> <!--<![endif]-->

{% block head %}
	<meta charset="utf-8">
	
	 <!-- 	Always force latest IE rendering engine (even in intranet) & Chrome Frame 
			Remove this if you use the .htaccess -->
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	
  	<title>HackerFair:{% block title %}Untitled{% endblock %}</title>
	{% block metadata %}
	<meta name="description" content="">
	<meta name="author" content="">
	{% endblock metadata %}

    {% block metaheaders %}{% endblock %}
  
	<!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
	{% block favicons %}
  	<link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
	{% endblock %}

	<!-- CSS : implied media="all" -->
  	{% block base-styles %}
  	<link rel="stylesheet" href="/static/css/base.css">
  	{# <link rel="stylesheet" href="/static/css/style.css?v=2"> #}
  	{# <link rel="stylesheet" media="handheld" href="css/handheld.css?v=2"> #}
	{% endblock base-styles %}
	
	{% block css-includes%}{% endblock %} 
	
	<style type="text/css">
	    {% block embeddedcss %} {% endblock %}
	</style>

	<!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
	<script src="/static/lib/js/modernizr-1.7.min.js"></script>
	
{% endblock head %}	
</head>


<body>
<header>
{% block header %}
  <img src="http://www.hackerfair.com/images/logo.png" alt="HackerFair">
  <h1>Aman Ahuja</h1>
  <h2>AmanAhuja@gmail.com</h2>
  
{% endblock %}
<div id="navbar" class="clearfix">
{% block loginbar %}
<div id="loginbar">
{% if user.is_authenticated %}
    <p>Welcome, {% firstof user.first_name user.username %}. | 
    {% if user.is_superuser %}
	<a href="/admin">Admin Console</a> |  
	{% endif %}
	<a href="/cmis/logout/">(Logout)</a></p>
{% else %}
    <p>Welcome, new user. <a href="/">Please log in.</a></p>
{% endif %}
</div>
{% endblock loginbar %}
</div> 
</header>

<div class="spacer"></div>

<div class="content">
    {% block content %}{% endblock %}
</div><!-- .content --> 

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="/static/lib/js/jquery/jquery-1.5.2.js"%3E%3C/script%3E'))</script>
	{% block js-includes%}{% endblock %} 
</body>
</html>
