{% extends "base.html" %}

{% block title %}Browse repository {% endblock %}

{% block css-includes%} 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

<script type="text/javascript">
	//Do not cache this Ajax data
	$.ajaxSetup ({
		cache: false
	});

	// Spinning graphic while the data loads
	var ajax_load = "<img src='http://nettuts.s3.amazonaws.com/412_ajaxCalls/DEMO/img/load.gif' alt='loading...' />";

	// load() functions
	$( document ).ready( function() {
		var loadUrl = "update";
		$( '#load_basic' ).click( function() {
			$("#result").html(ajax_load).load(loadUrl);	
		});
	});
</script>
{% endblock %}

{% block content %}
<h1>{{ rootfolder }}</h1>

<p>{{ directory }}</p>

<input type="submit" value="Update" id="load_basic" /> 
<div id="result"  class="functions"></div>
{% endblock %} 
